$white: #fff;
$fade-white: #f8f8f8;
$fade-gray: #e7e7e7;
$gray: #C3C9CF;
$gray-dark: #666;
$fade-green: #F0FFF0;
$green: #CDFFCC;
$fade-blue: #F0FFFF;
$blue: #CDFFFF;
$dark-gray: #5d6164;
$divider-color: #424242;
$black: #000;
$teal: #80CBC4;
$cta: $teal;